* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

main {
    height: 100vh;
    overflow: hidden;
}

.intro {
    margin-top: 5em;
    text-align: center;
}
.intro-icons {
    /* width: 100px; */
    display: flex;
    justify-content: center;
    margin: auto;
    /* border: 1px solid red; */
    margin-bottom: 5em;

}

.intro-icons img {
    display: block;
    width: 150px;
}

#intro-heading{
    font-size: 3em;
    margin-bottom: 0;
}
#intro-para{
    font-size: 1.5em;
    
}
#intro-img{
    width: 25%;
    display: block;
    margin: auto;
    
}

#intro-btn {
    background-color: rgb(52, 1, 100);
    color: white;
    text-decoration: none;
    display: block;
    width: 300px;
    margin: auto;
    margin-bottom: 1em;

    padding: 1em 2em ;
    border-radius: 5px;
}