:root {
    /* --purple: rgb(0, 102, 255); */
    --purple:  rgb(52, 1, 100);
    --blue: blue;
    --black: black;
    --green: rgb(1, 143, 65);
    --lightblue: rgb(233, 250, 250);
}


* {
    box-sizing: border-box;
    font-family: ubuntu;
}

body {
    margin: 0;
    padding: 0;
}

main {
    height: 100vh;
    overflow: hidden;
    /* border: 1px solid red; */
}

.intro {
    margin-top: 5em;
    text-align: center;
}
#intro-icons {
    /* width: 100px; */
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 10em;

}

#intro-icons img {
    display: block;
    width: 150px;
}

#intro-heading{
    font-size: 3em;
    margin-bottom: 0;
}
#intro-para{
    font-size: 1.5em;
    
}
#intro-img{
    width: 25%;
    display: block;
    margin: auto;
    
}

#intro-btn {
    background-color: rgb(52, 1, 100);
    color: white;
    text-decoration: none;
    display: block;
    width: 300px;
    margin: auto;
    margin-bottom: 1em;

    padding: 1em 2em ;
    border-radius: 5px;
}


#how-to {
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    padding: 10em 0;
    width: 80%;
    margin: auto;
    opacity: 0.7;
}






#testimonials {
    text-align: center;
    padding: 6em 0;
    color: white;
    display: flex;
    justify-content: space-around;
    /* width: 80%; */
    /* border-radius: 30px; */
    margin: auto;
    /* height: 20em; */
    background-color: var(--purple);

}
.testimonial {
    width: 30%;
}


.testimonial h2 {
    /* color: cyan; */
    /* font-size: 2.5rem; */
    /* padding: 1em; */
}
#bio {
    display: flex;
    width: 170px;
    margin: auto;
    /* border: 1px solid yellow; */
    justify-content: space-around;
    align-items: center;
}

#bio-avatar {
    border-radius: 100%;
    /* border: 4px solid white; */
    border: 4px solid white;
    width: 3.5em;
}




@media only screen and (max-width: 600px) {
    #intro-img{
        width: 90%;
        display: block;
        margin: auto;
        
    }

    #how-to {
        flex-direction: column;
    }

    #how-to div{
        padding: 3em;
    }


#testimonials {
    color: white;
    flex-direction: column;
    align-items: center;
/* padding: 6em 0; */

    margin: auto;
    background-color: var(--purple);

}

.testimonial {
    width: 100%;
    padding: 1.5em;
}

    

}